 main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 55vh;
    background-color: rgb(111, 225, 225);
    margin: 0 25px 0 25px;
    padding: 5%;
  }

  h1 {
    font-family: helvetica;
    font-style: oblique;
    font-weight: bold;
    font-size: 45px;
    color: rgb(5, 92, 64);
    text-align: center;
  }

  #img-div {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction:column
  }

 #image {
    max-width: 100%;
    height: auto;
    margin: center;
  }


