* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: georgia;
    background: #01010d;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 75px;
    background-color: #10c86c;
    color: #fefefe;
    border-bottom: 4px solid #001302;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #2b2c2c;
    
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    border-radius: 10px;

  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;

  }
  
  .gallery::after {
    content: "";
    width: 450px;
  }
  